
 body { font-family: 'Noto Serif'; text-align: center; }
 img { margin: 10px; cursor: pointer; }
.fancygif {
    border-radius: 20px;
    width: 20%;
    aspect-ratio: 1 / 1;
    border: 3px solid #000000;
    transition: transform 0.1s ease-in-out;
}
.fancygif:hover {
    transform: scale(1.05);
}
.fancygif:active {
    transform: scale(0.95);
}
.heading {
    font-family: 'Noto Serif', Courier, monospace;
    font-weight: bolder;
    font-size: 6em;
    margin-bottom: 2px;
}
.bodystyleig {
    font-size: 2em;
}